// SPDX-License-Identifier: GPL-2.0+
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/clock/ast2700-clock.h>
#include <dt-bindings/reset/ast2700-reset.h>

/ {
	model = "Aspeed AST2700 BootMCU";
	compatible = "aspeed,ast2700-bmcu";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "lowrisc,ibex";
			device_type = "cpu";
			reg = <0>;
			comptaible = "riscv";
			riscv,isa = "rv32imc";
		};
	};

	memory@80000000 {
		reg = <0x80000000 0x80000000>;
	};

	soc0: soc@12000000 {
		compatible = "aspeed,soc0","simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sdrammc: sdrammc@12c00000 {
			compatible = "aspeed,ast2700-sdrammc";
			reg = <0x12c00000 0x1000>, <0x13000000 0xd0000>;
			status = "disabled";
		};

		emmc_controller: sdc@12090000 {
			compatible = "aspeed,ast2700-sd-controller";
			reg = <0x12090000 0x100>;
			#address-cells = <1>;
			#size-cells = <1>;
			clocks = <&soc0_clk AST2700_SOC0_CLK_GATE_EMMCCLK>;
			resets = <&soc0_rst ASPEED_RESET_EMMC>;
			ranges = <0 0x12090000 0x10000>;
			status = "disabled";

			emmc: sdhci@12090100 {
				compatible = "aspeed,ast2700-sdhci";
				reg = <0x100 0x100>;
				sdhci,auto-cmd12;
				#interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&soc0_clk AST2700_SOC0_CLK_GATE_EMMCCLK>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_emmc_default>;
			};
		};

		syscon0: syscon@12c02000 {
			compatible = "syscon", "simple-mfd";
			reg = <0x12c02000 0x1000>;
			ranges = <0 0x12c02000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;

			soc0_rst: reset-controller@12c02200 {
				compatible = "aspeed,ast2700-reset";
				reg = <0x200 0x40>;
				#reset-cells = <1>;
			};

			soc0_clk: clock-controller@12c02200 {
				compatible = "aspeed,ast2700-soc0-clk";
				reg = <0x240 0x1c0>;
				#clock-cells = <1>;
			};

			pinctrl0: pinctrl@12c02400 {
				compatible = "aspeed,ast2700-soc0-pinctrl";
				reg = <0x400 0x100>;
			};
		};

		display_port: dp@12c0a000 {
			compatible = "aspeed,ast2700-displayport";
			reg = <0x0 0x12c0a000 0x0 0x200>,
			      <0x0 0x11000000 0x0 0x1000>,
			      <0x0 0x11010000 0x0 0x100>,
			      <0x0 0x11020000 0x0 0x4000>;
			clocks = <&soc0_clk AST2700_SOC0_CLK_GATE_DP>;
			resets = <&soc0_rst ASPEED_RESET_DP>, <&soc0_rst ASPEED_RESET_DP_MCU>;
			aspeed,scu = <&syscon0>;
			status = "disabled";
		};

		pcie_ep: pcie_ep@12c15000 {
			compatible = "aspeed,ast2700-pcie-ep";
			reg = <0x12c02000 0x1000>, <0x12c00000 0x200>,
			      <0x12c21000 0x200>, <0x12c22000 0x200>,
			      <0x12c1d000 0x200>, <0x14c3a000 0x200>;
			aspeed,dac-src = <0>;
			aspeed,dp-src = <1>;
			status = "disabled";
		};
	};

	soc1: soc@14000000 {
		compatible = "aspeed,soc1","simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		uart12: serial@14c33b00 {
			compatible = "ns16550a";
			reg = <0x14c33b00 0x20>;
			reg-shift = <2>;
			no-loopback-test;
			status = "disabled";
		};
	};
};

#ifdef CONFIG_SPL_ASPEED_DP
#include "ast2700-dp-fw.dtsi"
#endif
