config ASPEED_OTP
	bool "ASPEED OTP(One Time Programmable) Memory Driver"
	depends on ASPEED_AST2700
	help
	  Select this option to enable a driver for using the OTP in
	  the ASPEED BMC SoCs.
	  Enabling this allows the use of OTP command utility.
