if TARGET_ASPEED_AST2700

config SYS_BOARD
	default "ibex_ast2700"

config SYS_VENDOR
	default "aspeed"

config SYS_CPU
	default "ibex"

config SYS_CONFIG_NAME
	default "ibex_ast2700"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select RISCV_IBEX
	select SUPPORT_SPL
	imply SPL_DRIVERS_MISC

config SPI_ASPEED_DMA
	bool "Enable ASPEED SPI DMA"
	default n

choice
	prompt "AST2700 MPLL frequency"
	default ASPEED_MPLL_1600

config ASPEED_MPLL_800
	bool "800MHz"
	help
	  set mpll default speed at 800Mhz

config ASPEED_MPLL_1000
	bool "1000MHz"
	help
	  set mpll default speed at 1000Mhz

config ASPEED_MPLL_1200
	bool "1200MHz"
	help
	  set mpll default speed at 1200Mhz

config ASPEED_MPLL_1400
	bool "1400MHz"
	help
	  set mpll default speed at 1400Mhz

config ASPEED_MPLL_1600
	bool "1600MHz"
	help
	  set mpll default speed at 1600Mhz

endchoice

endif
