if TARGET_ASPEED_AST2700

config ASPEED_FPGA
	bool "Enable FPGA support"
	help
	  Say Y is platform is FPGA.

config SYS_BOARD
	default "ibex_ast2700"

config SYS_VENDOR
	default "aspeed"

config SYS_CPU
	default "ast2700"

config SYS_CONFIG_NAME
	default "ibex_ast2700"

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select RISCV_AST2700
	select SUPPORT_SPL
	select BINMAN
	imply SPL_DRIVERS_MISC

config SPI_ASPEED_DMA
	bool "Enable ASPEED SPI DMA"
	default n

config ASPEED_PHY_TRAINING_MESSAGE
	bool "Enable DDR PHY TRAINING MESSAGE"
	default n

config ASPEED_DRAM_ECC
	bool "Enable dramc ECC"
	default n

config ASPEED_DRAM_AES
	bool "Enable dramc AES"
	default n

choice
	prompt "AST2700 DDR target date rate"
	default ASPEED_DDR_3200
	depends on ASPEED_RAM
	depends on TARGET_ASPEED_AST2700

config ASPEED_DDR_1600
	bool "1600Mbps"
	help
	  select DDR4 target data rate at 1600M

config ASPEED_DDR_2400
	bool "2400Mbps"
	help
	  select DDR4 target data rate at 2400M

config ASPEED_DDR_3200
	bool "3200Mbps"
	help
	  select DDR4 target data rate at 3200M

endchoice

choice
	prompt "AST2700 MPLL frequency"
	default ASPEED_MPLL_1600

config ASPEED_MPLL_800
	bool "800MHz"
	help
	  set mpll default speed at 800Mhz

config ASPEED_MPLL_1000
	bool "1000MHz"
	help
	  set mpll default speed at 1000Mhz

config ASPEED_MPLL_1200
	bool "1200MHz"
	help
	  set mpll default speed at 1200Mhz

config ASPEED_MPLL_1400
	bool "1400MHz"
	help
	  set mpll default speed at 1400Mhz

config ASPEED_MPLL_1600
	bool "1600MHz"
	help
	  set mpll default speed at 1600Mhz

endchoice

endif
