if TARGET_ASPEED_AST2700

config SYS_BOARD
	default "ibex_ast2700"

config SYS_VENDOR
	default "aspeed"

config SYS_CPU
	default "ibex"

config SYS_CONFIG_NAME
	default "ibex_ast2700"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select RISCV_IBEX
	select SUPPORT_SPL
	imply SPL_DRIVERS_MISC

endif
