// SPDX-License-Identifier: GPL-2.0+
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/aspeed-gpio.h>
#include "skeleton.dtsi"

/ {
	model = "Aspeed BMC";
	compatible = "aspeed,ast2700";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
		ethernet0 = &mac0;
		ethernet1 = &mac1;
		ethernet2 = &mac2;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		enable-method = "aspeed,ast2700-smp";

		cpu@0 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <0>;
		};

		cpu@1 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <1>;
		};

		cpu@2 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <1>;
		};

		cpu@3 {
			compatible = "arm,cortex-a35";
			device_type = "cpu";
			reg = <1>;
		};

	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
				<GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
				<GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
				<GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>;
	};

	ahb {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		device_type = "soc";
		ranges;

		gic: interrupt-controller@12200000 {
				compatible = "arm,gic-v3";
				interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>;
				#interrupt-cells = <3>;
				interrupt-controller;
				interrupt-parent = <&gic>;
				#redistributor-regions = <1>;
				reg =	<0 0x12200000 0 0x10000>,		//GICD
					<0 0x12280000 0 0x80000>,		//GICR
					<0 0x40440000 0 0x1000>;		//GICC
		};

		apb {
			compatible = "simple-bus";
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;
			u-boot,dm-pre-reloc;

			emmc_controller: sdc@12090000 {
				compatible = "aspeed,ast2700-sd-controller";
				reg = <0 0x12090000 0 0x100>;
				#address-cells = <2>;
				#size-cells = <2>;
				ranges = <0 0 0 0x12090000 0 0x10000>;
				clocks = <&clk0 AST2700_CPU_CLK_GATE_EMMCCLK>;
				status = "disable";

				emmc: sdhci@12090100 {
					compatible = "aspeed,ast2700-sdhci";
					reg = <0 0x100 0 0x100>;
					sdhci,auto-cmd12;
					#interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
					clocks = <&clk0 AST2700_CPU_CLK_EMMC>;
					resets = <&rst0 ASPEED_RESET_EMMC>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_emmc_default>;
				};
			};

			uart5: serial@12c1a000 {
				compatible = "ns16550a";
				reg = <0x0 0x12c1a000 0x0 0x1000>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&clk1 AST2700_CPU_CLK_GATE_UART5CLK>;
				clock-frequency = <1846154>;
				no-loopback-test;
				u-boot,dm-pre-reloc;
				status = "disabled";
			};

			mdio: bus@14040000 {
				compatible = "simple-bus";
				#address-cells = <2>;
				#size-cells = <2>;
				ranges = <0 0 0 0x14040000 0 0x100>;

				mdio0: mdio@0 {
					compatible = "aspeed,ast2700-mdio";
					reg = <0 0 0 0x8>;
					resets = <&rst1 ASPEED_RESET_MII>;
					status = "disabled";
				};

				mdio1: mdio@8 {
					compatible = "aspeed,ast2700-mdio";
					reg = <0 0x8 0 0x8>;
					resets = <&rst1 ASPEED_RESET_MII>;
					status = "disabled";
				};

				mdio2: mdio@10 {
					compatible = "aspeed,ast2700-mdio";
					reg = <0 0x10 0 0x8>;
					resets = <&rst1 ASPEED_RESET_MII>;
					status = "disabled";
				};

				mdio3: mdio@18 {
					compatible = "aspeed,ast2700-mdio";
					reg = <0 0x18 0 0x8>;
					resets = <&rst1 ASPEED_RESET_MII>;
					status = "disabled";
				};
			};

			mac0: ftgmac@14050000 {
				compatible = "aspeed,ast2700-mac", "faraday,ftgmac100";
				reg = <0x0 0x14050000 0x0 0x180>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_MAC0CLK>;
				resets = <&rst1 ASPEED_RESET_MAC0>;
				status = "disabled";
			};

			mac1: ftgmac@14060000 {
				compatible = "aspeed,ast2700-mac", "faraday,ftgmac100";
				reg = <0x0 0x14060000 0x0 0x180>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_MAC1CLK>;
				resets = <&rst1 ASPEED_RESET_MAC1>;
				status = "disabled";
			};

			mac2: ftgmac@14070000 {
				compatible = "aspeed,ast2700-mac", "faraday,ftgmac100";
				reg = <0x0 0x14070000 0x0 0x180>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_MAC2CLK>;
				resets = <&rst1 ASPEED_RESET_MAC2>;
				status = "disabled";
			};

			pinctrl: pinctrl@14c02400 {
				compatible = "aspeed,g7-pinctrl";
				reg = <0x0 0x14c02400 0x0 0x80>;
			};

			uart1: serial@14c33000 {
				compatible = "ns16550a";
				reg = <0x0 0x14c33000 0x0 0x20>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 47 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_UART1CLK>;
				clock-frequency = <1846154>;
				no-loopback-test;
				status = "disabled";
			};

			uart2: serial@14c33100 {
				compatible = "ns16550a";
				reg = <0x0 0x14c33100 0x0 0x20>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_UART2CLK>;
				clock-frequency = <1846154>;
				no-loopback-test;
				status = "disabled";
			};

			uart3: serial@14c33200 {
				compatible = "ns16550a";
				reg = <0x0 0x14c33200 0x0 0x20>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_UART3CLK>;
				clock-frequency = <1846154>;
				no-loopback-test;
				status = "disabled";
			};

			uart4: serial@14c33300 {
				compatible = "ns16550a";
				reg = <0x0 0x14c33300 0x0 0x20>;
				reg-shift = <2>;
				interrupts = <GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
				clocks = <&clk1 AST2700_IO_CLK_GATE_UART4CLK>;
				clock-frequency = <1846154>;
				no-loopback-test;
				status = "disabled";
			};

			wdt0: watchdog@14c37000 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37000 0x0 0x40>;
				status = "disabled";
			};

			wdt1: watchdog@14c37080 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37080 0x0 0x40>;
				status = "disabled";
			};

			wdt2: watchdog@14c37100 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37100 0x0 0x40>;
				status = "disabled";
			};

			wdt3: watchdog@14c37180 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37180 0x0 0x40>;
				status = "disabled";
			};

			wdt4: watchdog@14c37200 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37200 0x0 0x40>;
				status = "disabled";
			};

			wdt5: watchdog@14c37280 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37280 0x0 0x40>;
				status = "disabled";
			};

			wdt6: watchdog@14c37300 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37300 0x0 0x40>;
				status = "disabled";
			};

			wdt7: watchdog@14c37380 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37380 0x0 0x40>;
				status = "disabled";
			};

			wdt_abr: watchdog@14c37400 {
				compatible = "aspeed,ast2700-wdt";
				reg = <0x0 0x14c37400 0x0 0x40>;
				status = "disabled";
			};

			i2c: bus@14c0f000 {
				compatible = "simple-bus";
				#address-cells = <2>;
				#size-cells = <2>;
				ranges = <0 0 0 0x14c0f000 0 0x1100>;
			};

			fmc: flash-controller@14000000 {
				reg = <0x0 0x14000000 0x0 0xc4>,
				      <0x1 0x00000000 0x0 0x80000000>;
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "aspeed,ast2700-fmc";
				status = "disabled";
				clocks = <&clk1 AST2700_IO_CLK_AHB>;
				num-cs = <3>;

				flash@0 {
					reg = <0>;
					compatible = "jedec,spi-nor";
					status = "disabled";
				};

				flash@1 {
					reg = <1>;
					compatible = "jedec,spi-nor";
					status = "disabled";
				};

				flash@2 {
					reg = <2>;
					compatible = "jedec,spi-nor";
					status = "disabled";
				};
			};
		};
	};
};

&i2c {
	i2cglobal: i2cg@00 {
	#address-cells = <1>;
	#size-cells = <0>;

		compatible = "aspeed,ast2700-i2c-global";
		reg = <0 0x0 0 0x40>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		new-mode;
	};

	i2c0: i2c@100 {
		#address-cells = <1>;
		#size-cells = <0>;
		#interrupt-cells = <1>;

		reg = <0 0x100 0 0x80>;
		compatible = "aspeed,ast2700-i2c-bus";
		bus-frequency = <100000>;
		interrupts = <GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		clocks = <&clk1 AST2700_IO_CLK_APB>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c1_default>;
		status = "disabled";
	};

	i2c1: i2c@200 {
		#address-cells = <1>;
		#size-cells = <0>;
		#interrupt-cells = <1>;

		reg = <0 0x200 0 0x80>;
		compatible = "aspeed,ast2700-i2c-bus";
		bus-frequency = <100000>;
		interrupts = <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		clocks = <&clk1 AST2700_IO_CLK_APB>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_default>;
		status = "disabled";
	};

	i2c2: i2c@300 {
		#address-cells = <1>;
		#size-cells = <0>;
		#interrupt-cells = <1>;

		reg = <0 0x300 0 0x80>;
		compatible = "aspeed,ast2700-i2c-bus";
		bus-frequency = <100000>;
		interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		clocks = <&clk1 AST2700_IO_CLK_APB>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_default>;
		status = "disabled";
	};

	i2c3: i2c@400 {
		#address-cells = <1>;
		#size-cells = <0>;
		#interrupt-cells = <1>;

		reg = <0 0x400 0 0x80>;
		compatible = "aspeed,ast2700-i2c-bus";
		bus-frequency = <100000>;
		interrupts = <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		clocks = <&clk1 AST2700_IO_CLK_APB>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c4_default>;
		status = "disabled";
	};

	i2c4: i2c@500 {
		#address-cells = <1>;
		#size-cells = <0>;
		#interrupt-cells = <1>;

		reg = <0 0x500 0 0x80>;
		compatible = "aspeed,ast2700-i2c-bus";
		bus-frequency = <100000>;
		interrupts = <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>;
		resets = <&rst1 ASPEED_RESET_I2C>;
		clocks = <&clk1 AST2700_IO_CLK_APB>;
		pinctrl-names = "default";
		status = "disabled";
	};
};

&pinctrl {
	pinctrl_fmcquad_default: fmcquad_default {
		function = "FMCQUAD";
		groups = "FMCQUAD";
	};

	pinctrl_i2c1_default: i2c1_default {
		function = "I2C1";
		groups = "I2C1";
	};

	pinctrl_i2c2_default: i2c2_default {
		function = "I2C2";
		groups = "I2C2";
	};

	pinctrl_i2c3_default: i2c3_default {
		function = "I2C3";
		groups = "I2C3";
	};

	pinctrl_i2c4_default: i2c4_default {
		function = "I2C4";
		groups = "I2C4";
	};

	pinctrl_mac1link_default: mac1link_default {
		function = "MAC1LINK";
		groups = "MAC1LINK";
	};

	pinctrl_mac2link_default: mac2link_default {
		function = "MAC2LINK";
		groups = "MAC2LINK";
	};

	pinctrl_mac3link_default: mac3link_default {
		function = "MAC3LINK";
		groups = "MAC3LINK";
	};

	pinctrl_mac4link_default: mac4link_default {
		function = "MAC4LINK";
		groups = "MAC4LINK";
	};

	pinctrl_mdio1_default: mdio1_default {
		function = "MDIO1";
		groups = "MDIO1";
	};

	pinctrl_mdio2_default: mdio2_default {
		function = "MDIO2";
		groups = "MDIO2";
	};

	pinctrl_mdio3_default: mdio3_default {
		function = "MDIO3";
		groups = "MDIO3";
	};

	pinctrl_mdio4_default: mdio4_default {
		function = "MDIO4";
		groups = "MDIO4";
	};

	pinctrl_emmc_default: emmc_default {
		function = "EMMC";
		groups = "EMMC";
	};
};
