// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;

#include "ast2700.dtsi"
#include "ast2700-u-boot.dtsi"

/ {
	model = "AST2700 EVB";
	compatible = "aspeed,ast2700-evb", "aspeed,ast2700";

	memory {
		device_type = "memory";
		reg = <0x4 0x00000000 0x0 0x20000000>;
	};

	chosen {
		stdout-path = &uart12;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;

		atf: trusted-firmware-a@430000000 {
			reg = <0x4 0x30000000 0x0 0x80000>;
			no-map;
		};

		optee_core: optee_core@430080000 {
			reg = <0x4 0x30080000 0x0 0x1000000>;
			no-map;
		};
	};
};

&uart12 {
	status = "okay";
};

&mdio0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&mdio1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy1: ethernet-phy@0 {
		reg = <0>;
	};
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii0_default>;
};

&mac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&fmc {
	status = "okay";

	flash@0 {
		status = "okay";
		spi-max-frequency = <12500000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
	};

	flash@1 {
		status = "disabled";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@2 {
		status = "disabled";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&emmc_controller {
	status = "okay";
};

&emmc {
	status = "okay";
};

&sdc {
	status = "okay";
};

&sdhci {
	status = "okay";
};

&ufs {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&hace {
	status = "okay";
};
