// SPDX-License-Identifier: GPL-2.0+

/ {
};

&soc0 {
	u-boot,dm-pre-reloc;
};

&sdrammc {
	u-boot,dm-pre-reloc;
};

&clk0 {
	u-boot,dm-pre-reloc;
};

&rst0 {
	u-boot,dm-pre-reloc;
};

&soc1 {
	u-boot,dm-pre-reloc;
};

&clk1 {
	u-boot,dm-pre-reloc;
};

&rst1 {
	u-boot,dm-pre-reloc;
};
