// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;

#include "ast2700.dtsi"
#include "ast2700-u-boot.dtsi"

/ {
	model = "AST2700 FPGA";
	compatible = "aspeed,ast2700-fpga", "aspeed,ast2700";

	memory {
		device_type = "memory";
		reg = <0x4 0x00000000 0x0 0x20000000>;
	};

	chosen {
		stdout-path = &uart12;
	};

	cpus {
		cpu@0 {
			clock-frequency = <24000000>;
		};
		cpu@1 {
			clock-frequency = <24000000>;
		};
		cpu@2 {
			clock-frequency = <24000000>;
		};
		cpu@3 {
			clock-frequency = <24000000>;
		};
	};
};

&uart12 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mdio0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
};

&fmc {
	status = "okay";

	flash@0 {
		status = "okay";
		spi-max-frequency = <12500000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@1 {
		status = "disabled";
		spi-max-frequency = <12500000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};

	flash@2 {
		status = "disabled";
		spi-max-frequency = <12500000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&emmc_controller {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&emmc {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdc {
	status = "okay";
};

&sdhci {
	status = "okay";
};

&ufs {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&hace {
	u-boot,dm-pre-reloc;
	status = "okay";
};
